/* *{
    background-color: rgb(206, 215, 215);
} */

header{
    background-color: rgb(244, 238, 238);
    color: white;
    width: 100%;
    }
/* main{
    background-color: rgb(119, 114, 109);
} */